<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.inchat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_roun"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inchat">
        <activity
            android:name=".Activities.GroupMessage"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".Activities.Groupgroup"
            android:exported="true" />
        <activity
            android:name=".Activities.Profile"
            android:exported="true" />
        <activity
            android:name=".Activities.MessageActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".Activities.navactivity"
            android:exported="true" />
        <activity
            android:name=".Activities.dashboardnewactivity"
            android:exported="true"
            android:label="@string/title_activity_dashboardnewactivity" />
        <activity
            android:name=".Activities.Loginactivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>